.des-tip {
    cursor: pointer;
}

.text-common {
    text-align: right;
    line-height: 32px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666;
}

.textarea-common {
    height: 102px;
    width: 380px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #CED4DA;
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
}
